@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* wrapepr */
.wrapper{
    background-color: yellow;

}
.content-box{
    width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
}
/* header  */
.header-box{
	background-color: #020509;
	font-size: 25px;
	letter-spacing: 2px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.header{
    background-color: #020509;
	color: #FF0038;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header > a, li>a{
	color: white;
	text-decoration: none;
}
.header > button{
	border: none;
	background-color: #FF0038;
	color: white;
	padding: 10px 25px;
	border-radius: 7px;
	text-transform: uppercase;
	cursor: pointer;
}
/* list-box */
.red-color{
	color: #FF0038;
}
.first-list{
	display: flex;
	column-gap: 25px;
}
.first-list > li{
	padding: 20px 0px;
}
.list-hover:hover, .list-hover:hover > a {
	background-color: #FF0038;
	color: #020509;
}
/* first drop-box */
.second-list{
	position: relative;
}
.drop-list{
	position: absolute;
	background-color: #020509;
	padding: 20px 5px 10px 0px;
	display: none;

}
.drop-list > li{
	padding-left: 10px ;
}
.drop-list > li:hover{
	background-color: #FF0038;
	color: #020509;
}
.second-list:hover > .drop-list{
	display: block;
}
/* second drop-box */
.third-list{
	position: relative;

}
.second-drop-list{
	position: absolute;
	right: 100%;
	bottom: -10px;
	background-color:  #020509;
	width: 160px;
	padding: 5px;
	text-align: right;
	display: none;
}
.third-list:hover > .second-drop-list{
	display: block;
}
.second-drop-list > li:hover{
	background-color: #ff0038;
}
/* main box */

/* footer box */
.footer {
    background-color: #020509;
}
.footer-box{
    color: aliceblue;
    text-align: center;
    padding: 30px 0px;
    font-size: 18px;
}


