@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 0px;
    border: 0px none #ffffff;
  }
  
body {
	line-height: 1;
    font-family: 'Montserrat', sans-serif;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* wrapepr */
.wrapper{
    background-color: yellow;
}
.content-box{
    width: 1300px;
    margin: 0 auto;
    text-transform: uppercase;
}
/* header  */
.header-box{
	background-color: #020509;
	font-size: 25px;
	letter-spacing: 2px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 15;
}

.header{
	color: #FF0038;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}
.logo{
	letter-spacing: 5px;
	font-size: 30px;
}
.header > a, li>a{
	color: white;
	text-decoration: none;
}
.header > button{
	border: none;
	background-color: #FF0038;
	color: white;
	padding: 15px 35px;
	border-radius: 7px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	transition: background .5s;
}
.header > button:hover{
	background-color: #c0002a;
}
/* list-box */
.red-color{
	color: #FF0038;
}
.first-list{
	display: flex;
	column-gap: 5px;
}
.first-list > li{
	padding: 20px 10px;
}
.svg-box {
	position: relative;
}
.list-hover .svg-box .header-icon {
	position: absolute;
	width: 35px;
	height: 35px;
	fill: white;
	left: 0;
	top: 0;
	bottom: 0;
}
.list-hover > a{
	padding-left: 40px;
	padding-top: 4px;
}
.list-hover:last-child > a{
	padding-right: 40px;
	padding-left: 10px;
}
.last-svg{
	position: absolute;
	fill: white;
	width: 35px;
	height: 35px;
	right: 0;
	top: 0;
	bottom: 0;
}
.list-hover:hover, .list-hover:hover > a {
	background-color: #FF0038;
	color: #020509;
}
/* first drop-box */
.second-list{
	position: relative;
	background-color: #020509;
	z-index: 5;
}
.drop-list{
	position: absolute;
	background-color: #020509;
	top: 100%;
	align-items: center;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
	left: 0;
	height: 0;
	font-size: 0;
	transition: height 0.2s cubic-bezier(1, -0.06, .52, .78), font-size 0.2s cubic-bezier(1, -0.06, .52, .78);
}
.drop-list svg{
	transition: scale 0.2s cubic-bezier(1, -0.06, .52, .78) ;
	scale: 0;
}
.drop-list > li{
	padding-left: 25px ;
}

.drop-list > li:hover{
	background-color: #FF0038;
	color: #020509;
}
.second-list:hover > .drop-list{
	height: 100px;
	font-size: 100%;	
}
.second-list:hover .drop-list svg{
	scale: 100%;
}
/* second drop-box */
.third-list{
	position: relative;
}
.second-drop-list{
	position: absolute;
	right: 100%;
	white-space: nowrap;
	top: 0;
	background-color:  #020509;
	text-align: right;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
	width: 0;
	height: 20px;
	padding: 5px 0px;
	overflow: hidden;
	transition: width .3s cubic-bezier(1, -0.06, .52, .78), height .3s cubic-bezier(1, -0.06, .52, .78) .2s;
}
.third-list:hover .second-drop-list{
	width: 100%;
	height: 47px;
}

.second-drop-list > li:hover{
	background-color: #ff0038;
}
.third-list{
	position: relative;
}
.third-list .header-icon{
	width: 25px;
	height: 25px;
	fill: white;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}
/* main box */
.main-page-container{
	height: 100vh;
	overflow-y: scroll;
	font-family: 'Kaushan Script', cursive;
	font-size: 150px;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}
.section{
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start ;
}
.box{
	text-align: center;
}
.green-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
}
.red{
	background-color: red;
}
.yellow{
	background-color: yellow;
}
.green{
	background-color: green;
	flex-direction: column;
}

/* footer box */
.footer {
    background-color: #020509;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}
.footer-box{
    color: aliceblue;
    text-align: center;
    padding: 30px 0px;
    font-size: 18px;
}
/* side-box */
.side-box{
    position: fixed;
    width: 50px;
    height: 210px;
	top: 50%;
	left: 0%;
	margin-top: -105px;
	background-color: #020509;
	border-radius: 10px;
}
.svg-box a{
	display: block;
}

.icon{
	fill: white;
	width: 40px;
	height: 40px;
	padding: 5px 4px;
	transition: scale 80ms cubic-bezier(1, -0.06, .52, .78), fill 80ms cubic-bezier(1, -0.06, .52, .78);
}
.icon:hover{
	fill: red;
	scale: 1.2;
}

/* footer-menu */
.footer-menu{
	position: fixed;
	width: 280px;
	height: 350px;
	bottom: -300px;
	left: 50%;
	margin-left: -140px;
	background-color: #020509;
	border-radius: 5px;
	transition: .5s;
}
.footer-menu:hover{
	bottom: 0;
}
.header-menu{
	text-align: center;
	color: #020509;
	background-color: red;
	position: relative;
	border: 1px solid #020509;
	border-radius: 5px;
}
.header-menu h3{
	font-weight: 700;
	padding: 20px 0px 10px;
	font-size: 20px;
}
.header-menu svg{
	width: 30px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -15px;
}
.selector-box{
	position: relative;
	height: 100%;
	width: 100%;
}
.selector-ul-box{
	font-size: 0px;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -75px;
	margin-top: -75px;
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
}
.selector-ul-box > li{
	border: 1px solid white;
	width: 70px;
	height: 70px;
	display: inline-block;
	position: relative;
	transition: all .2s linear;
}
.footer-svg{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	right: 50%;
	margin-top: -25px;
	margin-right: -25px;
	fill: white;
	transform: rotate(315deg);
}
.li-box:nth-child(1):hover {
	background-color: red;
	transform: scale(1.2, 1.2) translate(-5px, -5px);
	box-shadow: -1px -4px 87px 5px rgba(255, 25, 25, 0.89);
}
.li-box:nth-child(2):hover{
	background-color: red;
	transform: scale(1.2, 1.2) translate(5px, -5px);
	box-shadow: -1px -4px 87px 5px rgba(255, 25, 25, 0.89);}
.li-box:nth-child(3):hover{
	background-color: red;
	transform: scale(1.2, 1.2) translate(-5px, 5px);
	box-shadow: -1px -4px 87px 5px rgba(255, 25, 25, 0.89);
}
.li-box:nth-child(4):hover{
	background-color: red;
	transform: scale(1.2, 1.2) translate(5px, 5px);
	box-shadow: -1px -4px 87px 5px rgba(255, 25, 25, 0.89);

}




