*, *::before, *::after{
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url('');
    background-color: rgb(202, 202, 202);
	font-family: 'Inter Tight', sans-serif;
	opacity: 0.97;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


/* wrapper  */
.wrapper   {
    margin: 0 auto;
    background-color: rgb(68, 68, 68);

}

/* header */
.header {
    font-size: 35px;
    text-align: center;
    background-color: gray;
    padding: 10px;
    color: antiquewhite;
}
.wrapper{
    background-color: gray;

}
.content-container{
    width: 1300px;
    margin: 0 auto;
    text-transform: uppercase;
}
/* header  */
.header-box{
	background-color: #020509;
	font-size: 25px;
	letter-spacing: 2px;
	box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    position: relative;
    z-index: 5;
}

.header{
    background-color: #020509;
	color: #FF0038;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	letter-spacing: 5px;
	font-size: 30px;
}
.header > a, li>a{
	color: white;
	text-decoration: none;
}
.header > button{
	border: none;
	background-color: #FF0038;
	color: white;
	padding: 15px 35px;
	border-radius: 7px;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
}
/* list-box */
.red-color{
	color: #FF0038;
}
.first-list{
	display: flex;
	column-gap: 25px;
}
.first-list > li{
	padding: 20px 0px;
}
.list-hover:hover, .list-hover:hover > a {
	background-color: #FF0038;
	color: #020509;
}
/* first drop-box */
.second-list{
	position: relative;
}
.drop-list{
	position: absolute;
	background-color: #020509;
	top: 100%;
	padding: 10px 5px 10px 0px;
	display: none;
	align-items: center;
}
.drop-list > li{
	padding-left: 10px ;
}
.drop-list > li:hover{
	background-color: #FF0038;
	color: #020509;
}
.second-list:hover > .drop-list{
	display: block;
}
/* second drop-box */
.third-list{
	position: relative;

}
.second-drop-list{
	position: absolute;
	right: 100%;
	bottom: -140%;
	background-color:  #020509;
	width: 160px;
	padding: 5px;
	text-align: right;
	display: none;
}
.third-list:hover > .second-drop-list{
	display: block;
}
.second-drop-list > li:hover{
	background-color: #ff0038;
}
/* float-block */
.main-box-wrapper{
    background-color: gray;
}
.footage-wrapper{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
/* first-line-block */
.first-line-block{
    width: 400px;
    height: 400px;
    float: left;
    border: 2px solid;
    color: red;
}
.first-line-block:hover{
    color: black;
    background-color: red;
}
.first-line-wrapper img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
/* second-line-block */
.wide-block-wrapper{
    width: 800px;
    height: 400px;
    float: left;
    
}
.second-line-wide-block{
    width: 800px;
    height: 200px;
    border: 2px solid;
    color: yellow;
}
.second-line-wide-block:hover{
    color: black;
    background-color: yellow;
}
.second-line-short-block{
    width: 400px;
    height: 133.333px;
    float: left;
    border: 2px solid;
    vertical-align: top;
    color: green;
}
.second-line-short-block:hover{
    color: black;
    background-color: green;
}

/* third-line */
.third-line-wrapper{
    float: left;
}

.third-line-block{
    width: 400px;
    height: 400px;
    float: left;
    border: 2px solid;
    color: red;
}
.third-line-block:hover{
    color: black;
    background-color: red;
}
.third-line-wide-block{
    width: 800px;
    height: 200px;
    border: 2px solid;
    float: left;
    color: yellow;
}
.third-line-wide-block:hover{
    color: black;
    background-color: yellow;
}
.third-line-short-block{
    width: 400px;
    height: 200px;
    border: 2px solid;
    float: left;
    color: orange;
}
.third-line-short-block:hover{
    color: black;
    background-color: orange;
}
.third-line-small-block{
    width: 400px;
    height: 100px;
    border: 2px solid;
    float: left;
    color: pink;
}
.third-line-small-block:hover{
    color: black;
    background-color: pink;
}
/* hover-efects */
.border-efect:hover{
	opacity: 1;
	transition: opacity 0.5s, background 0.2s;
}






